.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 700px;
	margin: 0 auto;
	padding: 2rem;
}

.heading {
	display: flex;
	justify-content: center;
	font-size: 3rem;
	text-align: center;
	margin-bottom: 2rem;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1a202c; 
	color: #fff; 
	padding: 0.75rem 1.5rem; 
	border-radius: 0.25rem;
	border: none;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
	transition: all 0.2s ease-in-out;
}

.password_input {
	width: 25%;
}

.password_label {
	cursor: pointer;
}

.tutorial_text {
	font-style: italic;
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top-color: #3498db;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
